/* The color scheme*/
:root {
  --dark-gray-2: #1D2128;
  --dark-gray-1: #282c34;
  --light-gray-1: #53565b;
  --light-gray-2: #797979;
  --accent-color-green: #6CC466;
  --accent-color-red: #D68983;
}

/* The main app style*/
.App {
  position: relative;
  text-align: center;
  height: 100vh;
  background-color: var(--dark-gray-1);
}

/* -------------------------------------------------------------EVERYTHING IN THE HEADER--------------------------------------------------------------- */
/* The placeholder for the header*/
.placeholder {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
}

/* The main style for all parts of the header*/
.app-header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 192px 1fr 267px;
  width: 100%;
  height: 80px;
  font-size: calc(10px + 2vmin);
  background-color: var(--dark-gray-1);
  color: var(--light-gray-2);
  border-bottom: 1px solid var(--accent-color-green);
  transition: all 0.3s ease;
}
.app-header.right {
  grid-template-columns: 192px 1fr 110px;
}
.app-header.left {
  grid-template-columns: 40px 1fr 267px;
}
.app-header.right.left {
  grid-template-columns: 40px 1fr 110px;
}

/* The left sidebar header style*/
.l-sidebar-header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  border-right: var(--accent-color-green) 1px solid;
  transition: all 0.3s ease;
}
.l-sidebar-header.collapsed{
  grid-template-columns: 1fr auto;
  width: 40px;
}

/* The right sidebar header style*/
.r-sidebar-header{
  display: grid;
  grid-template-columns: 1fr auto auto;
  width: 100%;
  border-left: var(--accent-color-green) 1px solid;
  transition: all 0.3s ease;
}
.r-sidebar-header.collapsed {
  grid-template-columns: auto auto 1fr;
  width: 90px;
}

/* The part of the header inbetween the left and right sidebars*/
.main-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* The style for both toggle buttons*/
.toggle-button-l, .toggle-button-r {
  padding: 0;
  margin: 0;
  background: none;
  color: var(--light-gray-2);
  font-size: 2em;
  cursor: pointer;
  border: none;
}

/* The toggle button left*/
.toggle-button-l {
  border-left: 4px solid var(--accent-color-green);
  grid-column: 1/2;
}
.toggle-button-l.collapsed {
  border: none;
  grid-column: 3/4;
}

/* The toggle button right*/
.toggle-button-r {
  border-right: 4px solid var(--accent-color-green);
  grid-column: 3/4;
  grid-row: 1/2;
}
.toggle-button-r.collapsed {
  border: none;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* The logo in the left sidebar header*/
.app-logo {
  height: 70px;
  grid-column: 3/4;
}
.app-logo.collapsed {
  display: none;
}

/* The unique font for the app name in the middle part of the header*/
.app-name {
  height: 3em;
}

/* The search bar style in the middle part of the header*/
.search-box {
  border: #1D2128 1px solid;
  border-radius: 5px;
  background-color: var(--dark-gray-2);
  padding: 10px;
  padding-right: 40px;
  margin-right: 10px;
  color: white;
}

/* The user image and username styles in the right sidebar header*/
.user-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.user-img-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username.collapsed {
  display: none;
}

/* -----------------------------------------------------------EVERYTHING IN THE SIDEBARS----------------------------------------------------------------- */
/* The styles for both the left and right sidebars*/
.left-sidebar h3, .right-sidebar h3{
  text-align: center;
}
.left-sidebar, .right-sidebar {
  position: fixed;
  z-index: 2;
  top: 80;
  height: calc(100% - 110px);
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  background-color: var(--dark-gray-1);
  color: var(--light-gray-2);
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.3s ease;
}

/*-----LEFT SIDEBAR CONTENT-----*/
/* The left sidebar styles*/
.left-sidebar {
  left: 0;
  width: 152px;
  border-right: 1px solid var(--accent-color-green);
}
.left-sidebar.collapsed {
  transform: translateX(-100%);
}

/* The styles for the text box in the left sidebar that asks for a list name*/
.list-name-input{
  border: #1D2128 1px solid;
  border-radius: 5px;
  background-color: var(--dark-gray-2);
  color: var(--light-gray-2);
  width: 152px;
}

/* The grid for the list button container that has the list name, edit, and delete buttons*/
.list-buttons{
  display: grid;
  grid-template-columns: 1fr auto auto;
}

/* The styles fot all the list buttons in the left sidebar*/
.list-button {
  color: var(--light-gray-2);
  background-color: transparent;
  border: none;
  width: 100%;
  border-top: transparent 1px solid;
  border-bottom: transparent 1px solid;
}
.list-button:hover {
  color: var(--accent-color-green);
  border-top: var(--accent-color-green) 1px solid;
  border-bottom: var(--accent-color-green) 1px solid;
  border-radius: 10px;
}

/* The edit list button styles*/
.edit-button{
  color: var(--accent-color-green);
  background-color: transparent;
  border: transparent 1px solid;
}
.edit-button:hover{
  border: var(--accent-color-green) 1px solid;
  border-radius: 3px;
}

/* The delete list button styles*/
.delete-button{
  color: var(--accent-color-red);
  background-color: transparent;
  border: transparent 1px solid;
}
.delete-button:hover{
  border: var(--accent-color-red) 1px solid;
  border-radius: 3px;
}

/*-----RIGHT SIDEBAR CONTENT-----*/
/* The right sidebar styles*/
.right-sidebar {
  right: 0;
  width: 227px;
  border-left: 1px solid var(--accent-color-green);

  background-image: url('./images/checkmate-tall.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right-sidebar.collapsed {
  transform: translateX(100%);
}

/* -------------------------------------------------------EVERYTHING IN THE MAIN CONTENT------------------------------------------------------ */
/* The content style*/
.content h3 {
  color: var(--light-gray-2);
  text-align: center;
}
.content {
  position: fixed;
  z-index: 0;
  top: 80;
  height: calc(100% - 110px);
  width: calc(100% - 192px - 267px);
  overflow-y: auto;
  border-top: var(--accent-color-red) 1px solid;
  background-color: 1px solid var(--light-gray-2);
  margin-left: 192px;
  margin-right: 267px;
  text-align: left;
  transition: all 0.3s ease;

  background: 
    linear-gradient(45deg, var(--dark-gray-2) 25%, transparent 25%, transparent 75%, var(--dark-gray-2) 75%, var(--dark-gray-2)),
    linear-gradient(45deg, var(--dark-gray-2) 25%, transparent 25%, transparent 75%, var(--dark-gray-2) 75%, var(--dark-gray-2));
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  background-repeat: repeat;
  color: var(--light-gray-2);
}
/*if the left sidebar is closed*/
.content.left {
  margin-left: 0;
  width: calc(100% - 267px);
}
/*if the right sidebar is closed*/
.content.right {
  margin-right: 0;
  width: calc(100% - 192px);
}
/*if both sidebars are closed*/
.content.right.left {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* The scrollbar styles*/
.right-sidebar, .left-sidebar, .content {
  scrollbar-width: thin;
  scrollbar-color: var(--light-gray-1) var(--dark-gray-2);
}


/*-------------------------------------------------------------EVERYTHING IN THE FOOTER------------------------------------------------------------------ */
/* The styles for all parts of the footer*/
.main-footer, .l-sidebar-footer, .r-sidebar-footer{
  position: fixed;
  z-index: 3;
  bottom: 0;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* The middle part of the footer style*/
.main-footer {
  width: calc(100% - 192px - 267px);
  border-top: var(--accent-color-red) 1px solid;
}
/*if the right sidebar is closed*/
.main-footer.right{
  width: calc(100% - 192px);
}
/*if the left sidebar is closed*/
.main-footer.left{
  width: calc(100% - 267px);
}
/*if both sidebars are closed*/
.main-footer.right.left{
  width: 100%;
}

/* The left part of the footer style*/
.l-sidebar-footer{
  left: 0;
  width: 192px;
  border-right: var(--accent-color-green) 1px solid;
}

/* The new list button at the bottom of the left footer style*/
.new-list{
  width: 100%;
  color: var(--accent-color-green);
  background-color: transparent;
  border: none;
}
.new-list:hover{
  color: var(--dark-gray-1);
  background-color: var(--accent-color-green);
}

/* The right part of the footer style*/
.r-sidebar-footer{
  right: 0;
  width: 267px;
  border-left: var(--accent-color-green) 1px solid;
}

p{
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------EVERYTHING IN THE DELETE FORM----------------------------------------------------------------*/
/* The delete form style*/
.delete-form{
  position: fixed;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color-red);
  background-color: var(--dark-gray-2);
  border: var(--accent-color-red) 1px solid;
  border-radius: 5px;
  z-index: 5;
  line-height: 1.7em;
  display: none;
}

/* The delete form button styles*/
.form-button p strong{
  color: var(--accent-color-green);
}
.form-button{
  background-color: var(--accent-color-red);
  color: var(--dark-gray-2);
  border: none;
  border-radius: 2px;
  width: 50%;
  height: 30px;
  margin-top: 16px;
  /* padding: 0; */
  /* padding: 3px;
  margin: 5px; */
}
.form-button:hover{
  background-color: transparent;
  color: var(--accent-color-red);
  border: var(--accent-color-red) 1px solid;
}

/* -------------------------------------------------EVERYTHING IN THE ADD ITEM FORM------------------------------------------------------------------ */

.add-form{
  position: fixed;
  /* width: 200px;
  height: 100px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color-green);
  background-color: var(--dark-gray-2);
  border: var(--accent-color-green) 1px solid;
  border-radius: 5px;
  z-index: 5;
  line-height: 1.7em;
  display: none;
}

/* -------------------------------------------------EVERYTHING IN THE SIGN IN FORM------------------------------------------------------------------ */

.signin-form{
  position: fixed;
  /* width: 200px;
  height: 100px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color-green);
  background-color: var(--dark-gray-2);
  border: var(--accent-color-green) 1px solid;
  border-radius: 5px;
  z-index: 5;
  line-height: 1.7em;
  display: none;
}

/* -------------------------------------------------EVERYTHING IN THE NEW USER FORM------------------------------------------------------------------ */

.new-user-form{
  position: fixed;
  /* width: 200px;
  height: 100px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color-green);
  background-color: var(--dark-gray-2);
  border: var(--accent-color-green) 1px solid;
  border-radius: 5px;
  z-index: 5;
  line-height: 1.7em;
  display: none;
}